include ../inputData/inputData.pug
include ../calendar/calendar.pug

mixin calendarWithData(data=uniqueId)
  -var uniqueId = data|| ''
  .calendar-group(id="calendar-group"+uniqueId)
    +inputData(uniqueId)
    +calendar(uniqueId)
