@import "../../style.scss";

.checkbox{
opacity: 0;
}

.checkbox_wrapper{
@include flex();
 position: relative;
  left: -2rem;
  &::before{
    content: '';
width: 2rem;
  height: 2rem;

  border: 1px solid $dark25;
  border-radius: 4px;

  margin-right: 1rem;
  }
}

.checkbox:checked+.checkbox_wrapper{


    &::before{
border: 1px solid $color-purple;
 content: url('/src/images/Vector(1).svg');
 @include flex();
  }

}
.checkbox_selected{
  border: 1px solid $color-purple;

  &::before{
 position: absolute;
 content: url('/src/images/Vector(1).svg');
  }
}