mixin checkbox(data = {label: "guests", for:"guests"})


    input(class = "checkbox",type = 'checkbox', name = data.label, id = data.for)
    label(for=data.for, class ="checkbox_wrapper")=data.label