include ../listHeading/listHeading.pug
include ../listItem/listItem.pug
include ../checkbox/checkbox.pug

mixin checkboxList()
  +listHeading('checkbox buttons')
  ul.list-checkboxes
    +listItem()
      +checkbox()
      .list-checkboxes__text='Можно курить'
    +listItem()
      +checkbox()
      .list-checkboxes__text='Можно с питомцами'
       ul.list-checkboxes
    +listItem()
      +checkbox()
      .list-checkboxes__text Можно пригласить гостей
        br
        | (до 10 человек)

