include ../listHeading/listHeading.pug
include ../listItem/listItem.pug
include ../checkbox/checkbox.pug

mixin checkboxList(data={title:'checkbox buttons', list:['ggjk', 'jgjg','awef']})
  -var values = data.list

  +listHeading(data.title)
  ul.list-checkboxes
    each val in values
      +listItem()
        +checkbox({label: val, for:val})




