@import "../../style.scss";

.btn{
   font-family: "Montserrat", sans-serif;
  outline: none;
  cursor: pointer;
  border: 0;
}

.btn_gradiented{
  text-transform: uppercase;
  @include fonts(1.2rem,700 ,1.5rem, white );
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
 text-align: center;
  padding: 1.4rem 2rem 1.5rem;
  border-radius: 2.2rem;
 }

 .btn_gradiented_bordered{
@include fonts(1.2rem,700 ,1.5rem, $color-purple );
 text-transform: uppercase;
 text-align: center;
 padding: 1.4rem 2rem 1.5rem;
 border-radius: 2.2rem;
  position: relative;
 background-color: white;
 }

 .btn_gradiented_bordered::before{
 content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:2.2rem;
  padding:0.3rem;
  background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.btn_gradiented:hover,
.btn_gradiented_bordered:hover{
  opacity: 0.5;
}

.btn_expanded{
  width: 100%;
  border-radius: 2.2rem;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 1.4rem 0;
  text-align: center;
  padding: 1.4rem 2rem 1.5rem;
  position: relative;
  @include fonts(1.2rem,700 ,1.5rem, white );
  text-transform: uppercase;
}

.btn_expanded::after{
  position: absolute;
  top: 30%;
  right: 2rem;
  content: url('./images/arrow_forward(1).svg');
}

.btn_page{
  width: 4rem;
  height: 4rem;
  border-radius: 70%;
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  @include fonts(1.2rem,400 ,1.5rem, $dark50 );
  position: relative;

  }

  .btn_page-choosed{
    font-weight: 700;
    color: white;
    background-color: $color-purple;
  }

  .btn_page-forward{
   width: 4rem;
  height: 4rem;
  border-radius: 70%;
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.btn_page-forward::after{
   position: absolute;
  top: 30%;
  right: 30%;
  content: url('./images/arrow_forward(1).svg');
}

.btn_unbordered{
 background-color: transparent;
 text-transform: uppercase;
 @include fonts(1.2rem,700 ,1.5rem, $color-purple );
 padding-left: 0;
 padding-right: 0;
}
.btn_unbordered:disabled{
  color: $dark50;
}

.btn_round{
  @include flex();
  width: 3rem;
  height: 3rem;
  border-radius: 70%;
   border: 1px solid $dark25;
 background-color: white;
 position: relative;
}
.btn_round-add::after{
  position: absolute;
  content: url('./images/+.svg');
  top: 17%;
  right: 34%;

}
.btn_round-minus::after{
  position: absolute;
  content: url('./images/-.svg');
  top: 11%;
  right: 38%;

}

.btn_round-minus:disabled{
  opacity: 0.5;
}

.btn_forward{
 width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  position: relative;
}

.btn_forward::after{
  position: absolute;
  content: url('./images/arrow_forward(2).svg');
  top: 15%;
  right: 18%;
}

.btn_dropdown_up{
  background-color: white;
width: 2rem;
  height: 2rem;
  @include flex();
}

.btn_dropdown_up::after{
  content: url('./images/expand_more.svg');
}

.btn_dropdown_down{
   background-color: white;
width: 2rem;
  height: 2rem;
 @include flex();
}

.btn_dropdown_down::after{

  content: url('./images/expand_more(2).svg');
}

.btn_star{
  background-color: white;
width: 2rem;
  height: 2rem;
@include flex();

}

.btn_star::after{
  content: url('./images/star_border.svg');
}

.btn_star_choosed{
width: 2rem;
  height: 2rem;
@include flex();

}

.btn_star_choosed::after{
  content: url('./images/star.svg');
}

.btn_dots{
  background-color: white;
width: 4rem;
  height: 4rem;
@include flex();
}

.btn_dots::after{
  content: url('./images/png');
}