@import "../../style.scss";

.data-group{
display: flex;
justify-content: space-between;

.data-group__item{
  min-width: 1rem;
  flex-grow: 1;
  .input{
    width: 100%;
  }
}
  .data-group__item:first-child{

    margin-right: 1rem;
  }
}