include ../../mixins/calendarWithData/calendarWithData.pug
include ../../mixins/buttons/button.pug
include ../../mixins/dropdown/dropdown.pug
include ../formTemplate/formTemplate.pug

mixin findRoomForm(uniqueId)
  -var uniqueId = uniqueId || ''
  +form({ class: 'form-find', title: "Найдем номера под ваши пожелания"})
    +calendarWithData(uniqueId+'23')
    +dropdown([{text:' взрослые', amount:0},{text:' дети', amount:0}, {text:' младенцы', amount:0}], true, '', uniqueId)
    +buttonMixin({kind: 'gradiented', option: 'expanded',text: 'Подобрать номер', type: 'submit'})






