@import "../../style.scss";

.form-register{
  input{

    margin-bottom: 1rem;
  }
  .form-group__heading{
    margin-bottom: 2rem;
  }
.toggle__content{
  margin-bottom: 2rem;

}
.radio-group{
   margin-bottom: 2.5rem;
}


  .form-register__footer{
    margin-top: 3rem;
  }
}