include ../../buttons/button.pug
include ../../listItem/listItem.pug

mixin dropdownMenu(data = {values:[{text:' спальни', amount:0},{text:' кровати', amount:0}, {text:' ванные комнаты', amount:0}], btns: true, id: ''})
  -var btn = data.btns || true
  -var id = data.uniqueId || ''
  -var values = data.values|| [{text:' спальни', amount:0},{text:' кровати', amount:0}, {text:' ванные комнаты', amount:0}]
  -var id = 'dropdown-menu'+ data.id || ''
  ul.dropdown-menu(id=id)
    each val in values
      +listItem()
        h3.dropdown-menu__value=val.text
        .dropdown-menu__amount
          +buttonMixin({kind:'round',option:'round-minus', disabled:true,})
          h3.dropdown-menu__counter=val.amount
          +buttonMixin({kind:'round', option:'round-add'})
    if btns
      +listItem()
        +buttonMixin({kind:'unbordered', disapled:true, text:'Отменить'})
        +buttonMixin({kind:'unbordered', text:'Применить'})

