include ../../buttons/button.pug
include ../../listItem/listItem.pug

mixin dropdownMenu(uniqueId, values, btns)
  -var btns = btns || true

  -var values = values|| [{text:' спальни', amount:0},{text:' кровати', amount:0}, {text:' ванные комнаты', amount:0}]
  -var uniqueId = 'dropdown-menu'+ uniqueId || ''
  ul.dropdown-menu(id=uniqueId)
    each val in values
      +listItem()
        h3.dropdown-menu__value=val.text
        .dropdown-menu__amount
          +buttonMixin({kind:'round',option:'round-minus', disabled:true,})
          h3.dropdown-menu__counter=val.amount
          +buttonMixin({kind:'round', option:'round-add'})
    if btns
      +listItem()
        +buttonMixin({kind:'unbordered', disapled:true, text:'Отменить'})
        +buttonMixin({kind:'unbordered', text:'Применить'})



