include ../inputWithButton/inputWithButton.pug
include ../dropdown/dropdownMenu/dropdownMenu.pug

mixin dropdown(uniqueId, values, btns )
  -var values = values || [{text:' спальни', amount:0},{text:' кровати', amount:0}, {text:' ванные комнаты', amount:0}]
  -var btns = btns || true
  -var ids = 'dropdown'+uniqueId || ''

  .dropdown.dropdown-expanded(id=ids)
    +inputWithButton({btn:{kind:'dropdown_down'}, input:{placeholder:'Сколько гостей', type:'text', name:'гости'}})
    +dropdownMenu(uniqueId, values, btns )




