mixin input(data)

  - var name = data.name||'name'
  - var type = data.type||'text'
  - var value = data.value||''
  - var placeholder = data.placeholder||''
  - var tabindex = data.tabindex||false
  - var autofocused = data.autofocused||false
  - var id = data.id||''


  input(class="input"
   type = type
   name = name
   value = value
   placeholder = placeholder
   tabindex = tabindex
   autofocused = autofocused
   id = id)