include ../../mixins/container/container.pug
include ../../mixins/label/label.pug

mixin footer()
  +container()
    .footer.footer_mobile
      +label()
      span.footer__text Copyright &copy Toxin  отель. Все права защищены
      span.footer__logos
        img(src=require('./images/twit.png'))
        img(src=require('./images/face.png'))
        img(src=require('./images/inst.png'))

