@import "../../style.scss";

.number-content{
  min-width: 27rem;
  max-width: 40rem;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(31,32,65,0.05);
}

.number-content__description{
  padding: 2rem 1.7rem 2rem 2rem;
}

.number-content__img-content{
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.3s;
}

.number-content__img{
  width: 100%;
}

.number-content__img-content{
  .btn_slider-forth{
position: absolute;
top: 40%;
right: 0;
opacity: 0;
z-index: 10;
background-color: transparent;
transition: all 0.5s ease-in-out;
  }
    .btn_slider-back{
position: absolute;
top: 40%;
left: 0;
opacity: 0;
z-index: 10;
background-color: transparent;
transition: all 0.5s ease-in-out;
  }
}


.number-content__img-content:hover::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

background: radial-gradient(farthest-corner, transparent 25%, rgba($dark25, 0.1) 65%,rgba($dark50, 0.1) 100%);
.btn_slider{
  opacity: 1;
  z-index: 10;
}


}

.number-content__img-content:hover{
.btn_slider-forth{
  opacity: 1.0;
  transition: all 0.5s ease-in-out;
}
.btn_slider-back{
  opacity: 1.0;
  transition: all 0.5s ease-in-out;
}
}

