
include mixins/dropdown/dropdownMenu/dropdownMenu.pug
include mixins/expandableList/expandableList.pug
include mixins/inputWithButton/inputWithButton.pug
include mixins/dropdown/dropdown.pug
include mixins/radioGroup/radioGroup.pug
include mixins/toggle/toggle.pug

doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
title Webpack app

body
h3 test pug



+dropdown()
+radioGroup()
+dropdownMenu()

+expandableList()
+inputWithButton()
+dropdown()
script
      include ./index.js

