
include mixins/dropdown/dropdownMenu/dropdownMenu.pug

include mixins/inputWithButton/inputWithButton.pug

//include mixins/dropdown/dropdownMenu/dropdownMenu.pug
include mixins/dropdown/dropdown.pug
include mixins/calendar/calendarContent/calendarContent.pug
include mixins/calendar/calendar.pug
include mixins/inputData/inputData.pug
include mixins/calendarWithData/calendarWithData.pug

include forms/findRoomForm/findRoomForm.pug


doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
title Webpack app

body
h3 test pug


+dropdown('123')
+findRoomForm()




script
      include ./index.js

