
include mixins/buttons/button.pug
include mixins/rateButtons/ratebuttons.pug
include mixins/listHeading/listHeading.pug
include mixins/listItem/listItem.pug
include mixins/pageList/pageList.pug
include mixins/checkbox/checkbox.pug
include mixins/checkboxList/checkboxList.pug
include mixins/richList/richList.pug
include mixins/bulletList/bulletList.pug
include mixins/expandableList/expandableList.pug
include mixins/simpleList/simpleList.pug
include mixins/label/label.pug
include mixins/container/container.pug
include components/header/header.pug
include mixins/input/input.pug
include mixins/subscribeInput/subscribeInput.pug

doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
title Webpack app

body
h3 test pug
+bulletList()
+simpleList()
+label()
+buttonMixin({kind: 'gradiented', text: 'Зарегистрироваться'})
+buttonMixin({kind: 'gradiented_bordered', text: 'Pfhtuhhh'})
+container()
  h3 kjhkjhkhkhjk
  div kjkjhaldhjadhaljkkkkkkkkchjaklchklachaklch
+header()
+input({placeholder:'name'})
+subscribeInput()
script
      include ./index.js

