
include mixins/dropdown/dropdownMenu/dropdownMenu.pug
include mixins/expandableList/expandableList.pug
include mixins/inputWithButton/inputWithButton.pug
include mixins/dropdown/dropdown.pug
include mixins/radioGroup/radioGroup.pug
include mixins/toggle/toggle.pug
include mixins/comfort/comfort.pug
include mixins/calendar/calendarContent/calendarContent.pug
include mixins/calendar/calendar.pug
include mixins/inputData/inputData.pug
include mixins/calendarWithData/calendarWithData.pug
include forms/enterForm/enterForm.pug
include mixins/flexExpanded/flexExpanded.pug
include forms/formTemplate/formTemplate.pug

doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
title Webpack app

body
h3 test pug



+dropdown()
+radioGroup()
+dropdownMenu()
+comfort()
+expandableList()
+inputWithButton()
+calendarWithData()
+formEnter()
+form()
  +flexExpanded({class: 'lll'})
    +radioGroup()
    p klklhjlhkl

script
      include ./index.js

