
$background-color: red;
$font-color: lch(53 105 40);
$dark100: #1F2041;
$dark75: rgba(31,32,65, 0.75);
$dark50: rgba(31,32,65, 0.5);
$dark25: rgba(31,32,65, 0.25);
$dark05: rgba(31,32,65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;

*,
*::after,
::before {
  box-sizing: border-box;
}

@mixin fonts($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin flex(){
  display: flex;
  justify-content: center;
  align-items: center;
}

%list{

  list-style: none;
  margin: 0;
  padding: 0;
}


%list-item{
  margin: 0;
}


html {
  font-size: 62.5%;
}

body {  font-family: "Montserrat", sans-serif;
  @include fonts(1.4rem,400 ,2.4rem, $dark75 );

}

h1 {
@include fonts(2.4rem, bold, 2.9rem, #1F2041);
}

h3 {
   @include fonts(1.2rem, bold ,1.5rem, $dark100 );
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}



