
$background-color: red;
$font-color: lch(53 105 40);
$dark100: #1F2041;
$dark75: rgba(31,32,65, 0.75);
$dark50: rgba(31,32,65, 0.5);
$dark25: rgba(31,32,65, 0.25);
$dark05: rgba(31,32,65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;

*,
*::after,
::before {
  box-sizing: border-box;
}

@mixin fonts($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin flex(){
  display: flex;
  justify-content: center;
  align-items: center;
}

%list{

  list-style: none;
  margin: 0;
  padding: 0;
}


%list-item{
  margin: 0;
}


html {
  font-size: 62.5%;
}

body {  font-family: "Montserrat", sans-serif;
  @include fonts(1.4rem,400 ,2.4rem, $dark75 );

}

h3 {
   @include fonts(1.2rem, bold ,1.5rem, $dark100 );
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}

.input-item {
  outline: none;
  border: 1px solid $dark25;
  border-radius: 4px;
  padding: 1.2rem 0 0.8rem 1.5rem;
  color: $dark75;
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  font-family: inherit;
}

.input-item:focus,
.input-item:hover {
  border: 1px solid $dark50;
}

/*dropdown header icon*/


/*icons*/

.icon-page-dots{
  position: relative;
  top: 2.5rem;
  margin: 0 1rem;
}
.icon-arrow{
  fill: white;
  position: absolute;
  right: 1.2rem;
}

.icon-item path,
.icon-arrow path
{
  fill: inherit;
}

/*dropdown-items*/

.dropdown-item{
   @extend %list-item;
   width: 100%;
  display: flex;
  justify-content: space-between;

  padding-left: 1.5rem;
  padding-right: 0.7rem;

}

.dropdown-item:first-child{
  padding-top: 0.7rem;

}
.btn-group{
  display: flex;
  padding-bottom: 0.7rem;

}


.number{
  margin-left: 1rem;
  margin-right: 1rem;
}

/*list*/

.dropdown{
  position: relative;
}

.list-dropdown{
  border: 1px solid $dark50;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dropdown__content{
 max-height: 0;
overflow: hidden;
opacity: 0;
transition: all 0.3s;
}

.dropdown .input-item{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown--opened .dropdown__content{
  max-height: 100vh;
  opacity: 1;
  position: absolute;
  background-color: white;
}

.dropdown--opened .input-item{
 border: 1px solid $dark50;
}


/*comfort*/

.comfort{
  display: flex;
}

.icon-comfort{
fill: $color-purple;
margin-top: 0.25rem;

}

.comfort__content{
  margin-left: 2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $dark75;
}

.comfort__title{
  margin: 0;
}
.comfort__text{
  margin: 0;
}

/*radio*/

/*expandable checkboxes*/



.expandable{
  width: 100%;
  position: relative;

  &::after{
content: url('/src/images/expand_more.svg');
  position: absolute;
top: -0.5rem;
  right: 1rem;
  }
}


.expandable__title{
  margin-bottom: 2rem;
}


.expandable__content{
  max-height: 0;
overflow: hidden;
opacity: 0;
transition: all 0.3s;
}

.expandable--opened{
  &.expandable__content{
 max-height: 100vh;
  opacity: 1;
  }

  &::after{
content: url('/src/images/expand_more(2).svg');
  position: absolute;
top: -0.5rem;
  right: 1rem;
  }
}

.list-header{
  margin-bottom: 1.6rem;
}


