@import "../../style.scss";


.list-rich{

   @extend %list;
  .list-rich__text-bold{
@include fonts(1.4rem,700 ,1.8rem, $dark75 );
margin-top: 0;
 margin-bottom: 1rem;
  }

  .list-rich__text-small{
    @include fonts(1.2rem,400 ,1.4rem, $dark50 );
    margin-top: 0;
    margin-bottom: 1rem;
  }
}